# replace all paths to the paths on your device and save as ".env"

PROJECT_ROOT="PATH_TO_STAPLER/STAPLER/" # here we will create new folders such as and logs etc.
TCR_DATA_PATH="PATH_TO_DATA/data/train/ab-paired_pretrain-dataset.csv"  # path to the pretrain TCR data
EPITOPES_DATA_PATH="PATH_TO_DATA/data/train/peptide_anthem.csv"  # path to the pretrain epitopes data

TRAIN_DATA_PATH="PATH_TO_DATA/data/train/train-set_full-seq.csv"  # path to the train data (ensure that the folds are in the same directory as this dataset)
TEST_DATA_PATH="PATH_TO_DATA/data/test/vdjdb_external_negatives_data.csv"  # path to the test data
CHECKPOINT_PATH="PATH_TO_STAPLER/STAPLER/tools/checkpoints/"  # path to directory to save the checkpoints

BEST_PRETRAIN_CHECKPOINT_PATH="PATH_TO_MODEL/model/pretrained_model/STAPLER_cdr3ab-pep_pretrained_model.ckpt" # path to the best pretrain checkpoint
BEST_TRAIN_CHECKPOINT_PATH="PATH_TO_MODEL/model/finetuned_model/" # path to the best train checkpoints (checks for presence of 5 checkpoints as we do 5-fold cross-validation)