# replace #PATH_TO_STAPLER# with your path to STAPLER and save as ".env"


PROJECT_ROOT="#PATH_TO_STAPLER#"/STAPLER/ # here we will create new folders such as /logs etc.
TCR_DATA_PATH="#PATH_TO_STAPLER#/STAPLER/data/saved_data/2022-09-16_ab-paired_pretrain-dataset.csv"  # path to the pretrain TCR data
EPITOPES_DATA_PATH="#PATH_TO_STAPLER#/STAPLER/data/saved_data/2022-09-16_peptide_anthem.csv"  # path to the pretrain epitopes data

TRAIN_DATA_PATH="#PATH_TO_STAPLER#/STAPLER/data/saved_data/2022-05-20_train-set_full-seq.csv"  # path to the train data
TEST_DATA_PATH="#PATH_TO_STAPLER#/STAPLER/data/external_test_set/vdjdb_external_negatives_data.csv"  # path to the test data
CHECKPOINT_PATH="#PATH_TO_STAPLER#/STAPLER/tools/checkpoints/"  # path to the checkpoint directory

BEST_PRETRAIN_CHECKPOINT_PATH="" # path to the best pretrain checkpoint
BEST_TRAIN_CHECKPOINT_PATH="" # path to the best train checkpoint