# replace #PATH_TO_STAPLER#, #PATH_TO_DATA# and #PATH_TO_MODEL# with your path to STAPLER and to your data and save as ".env"

PROJECT_ROOT="#PATH_TO_STAPLER#"/STAPLER/ # here we will create new folders such as /logs etc.
TCR_DATA_PATH="#PATH_TO_DATA#/2022-09-16_ab-paired_pretrain-dataset.csv"  # path to the pretrain TCR data
EPITOPES_DATA_PATH="#PATH_TO_DATA#/2022-09-16_peptide_anthem.csv"  # path to the pretrain epitopes data

TRAIN_DATA_PATH="#PATH_TO_DATA#/2022-05-20_train-set_full-seq.csv"  # path to the train data (ensure that the folds are in the same directory as this dataset)
TEST_DATA_PATH="#PATH_TO_DATA#/vdjdb_external_negatives_data.csv"  # path to the test data
CHECKPOINT_PATH="#PATH_TO_STAPLER#/STAPLER/tools/checkpoints/"  # path to directory to save the checkpoints

BEST_PRETRAIN_CHECKPOINT_PATH=#PATH_TO_MODEL#/pre-cdr3_combined_epoch=437-train_mlm_loss=0.702.ckpt" # path to the best pretrain checkpoint
BEST_TRAIN_CHECKPOINT_PATH="#PATH_TO_MODEL#" # path to the best train checkpoints (checks for presence of 5 checkpoints as we do 5-fold cross-validation)